*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    padding: 2em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    position: relative;
}

.wrapper{
    max-width: 1366px;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    display: flex;
    min-height: 15vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    padding: 1.5em;
    margin-bottom: 2em;
}

.score{
    display: flex;
    background:#fff;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 7.5em;
    height: 6em;
}

.score_title {
    color:  hsl(229, 64%, 46%);
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0;
}

.score_number{
    font-size: 3rem;
    font-weight: 700;
    color:  hsl(229, 25%, 31%);
}

/* main */

main{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.playground{
    background: url("images/bg-triangle.svg") no-repeat;
    width:313px;
    height:278px;
    position: relative;
}

.rock{
    position: absolute;
    top: -30%;
    left: -20%;
    width: 13em;
    height: 13em;
}

.rock:hover{
    top:-29%;
    transition: top 0.1s;
}


.scissors{
    position: absolute;
    top: -30%;
    right: -20%;
    width: 13em;
    height: 13em;
}

.scissors:hover{
    top: -29%;
    transition: top 0.1s;
}


.paper{
    position: absolute;
    bottom: -20%;
    left: 50%;
    width: 13em;
    height: 13em;
    transform:translateX(-50%);
}

.paper:hover{
    bottom: -21%;
    transition:bottom 0.1s;
}

.rules{
    width: 7.5em;
    height: 2em;
    position: absolute;
    right: 2em;
    bottom: 2em;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ffffff;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: none;
    transition: box-shadow, bottom .2s;
}

.rules:hover{
    box-shadow: 10px 10px 30px cadetblue inset;
    bottom: 2.1em;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    transition: display, opacity 0.3s;
}

.modal{
    position: absolute;
    left: 50%;
    top: -1000%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    padding:1em 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    z-index: 2000;

    transition:  top 0.3s;
}
.modal_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 2em;
}

.rules_title{
    font-size: 2rem;
    text-transform: uppercase;
    color:  hsl(229, 25%, 31%);
}

.close_modal{
    opacity: 0.6;
    cursor: pointer;

}

.close_modal:hover{
    opacity: 1;

    transition: opacity 0.2s;


}


.battle{
    display: none;
    justify-content: space-between;
    gap: 2em;
    width: 100%;
    padding: 2em;
}

.battle p{
    font-size: 1.8rem;
    text-transform: uppercase;
    color:  #ffffff;
    padding-bottom: 2em;
}

.yours,
.theirs{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.darkcircle{
    border-radius: 100%;
    background-color: black;
    width: 200px;
    height: 200px;
    opacity: 0.5;
    animation-name: circle-animate;
    animation-duration: 2s;
}

.theirChoiceImg{
    display: none;
}

@keyframes circle-animate {
    0% { transform: scale(0.5, 0.5) }
    100% { transform: scale(2,2) }
}



.verdict{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.battle p.verdict_text{
    font-size: xxx-large;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}

.verdict_btn{
    width: 160px;
    background-color: #ffffff;
    color:  #000;
    padding: .6em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;

}

.yourImg,
.theirImg{
    position: relative;
}

.imgGlow{
    position: absolute;
    top: 0;
    left:0;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 0 0 50px 15px #48abe0;
    animation: glow;
    animation-duration: 3s;
    animation-iteration-count: 3;
}

@keyframes glow {
    from {
        box-shadow: none;
    }
    to{
        box-shadow: 0 0 50px 15px #48abe0;
    }
}

/* media queries */

@media screen and (max-width: 900px){
    .wrapper{
        width: 100%;
    }

    .rules{
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
    }

    .modal{
        width: 100%;
        height: 100%;
        justify-content: center;
    }
    
}